{% extends "base.html" %} 

{% block content %}
    <div id="tags" class="span2">
        {% include "pictures/tags.html" %}
    </div>
    <div class="span9">
        <h2>Pictures</h2>
        <div id="paginator-container">
            {% include "pictures/pagination.html" %}
        </div>
        <div id="image-container">
            {% include "pictures/list_partial.html" %}
        </div>
    </div>
    <br style="clear:both">

    <input type="hidden" id="static-url" value="{{STATIC_URL}}" />
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <script>
    $(window).load( function() {

        var tags = [];

        $('#paginator-container').on('click', 'a', function() {
            page = $(this).data('page');
            cur_page = $('#cur-page').val();
            $.ajax({
                'type': 'post',
                'url' : '/pictures/page/'+page+'/',
                'data': JSON.stringify(tags),
                'contentType' : 'application/json',
                'dataType' : 'json',
                'success' : function(data){
                    $('.picture').remove();
                    $('#image-container').html(data.pictures_html).fadeIn();
                    //$('#image-container').isotope('insert', $pictures);
                    $('#paginator-container').html(data.paginator_html);
                    $('#tags').html(data.tags_html);
                    //$('#image-container').isotope('reLayout');
                    //$('.page'+cur_page).remove();
                    //$('#image-contianer').isotope('reloadItems');
                    //$('#image-container').isotope('reloadItems').isotope({sortBy : 'original-order'});
                },
                'error' : function(data){
                    alert("Server Error");
                }
            });
        });

        $('#tags').on('click', 'a', function() {
            self = $(this);
            page = $('#cur-page').val();
            cur_page = $('#cur-page').val();

            if( self.hasClass('clear-tags') ){
                tags = [];
            } else { 
                tag_index = $.inArray(self.data('tag'), tags);

                if( tag_index >= 0 || self.hasClass('active-tag') ) {
                    tags.splice(tag_index,1);
                    self.removeClass('active-tag');
                } else {
                    tags.push(self.data('tag'));
                    self.addClass('active-tag');
                }
            }

            $.ajax({
                'type': 'post',
                'url' : '/pictures/page/'+page+'/',
                'data': JSON.stringify(tags),
                'contentType' : 'application/json',
                'dataType' : 'json',
                'success' : function(data){
                    $('.picture').remove();
                    $('#image-container').html(data.pictures_html);
                    //$('#image-container').isotope('insert', $pictures);
                    $('#paginator-container').html(data.paginator_html);
                    $('#tags').html(data.tags_html);
                    //$('#image-contianer').isotope('reloadItems');
                    //$('#image-container').isotope('reloadItems').isotope({sortBy : 'original-order'});
                    //$('#image-container').isotope('reLayout');
                },
                'error' : function(data){
                    alert("Server Error");
                }
            });
        });


        //$('#image-container').isotope({
        //    layoutMode: 'cellsByRow',
        //    cellsByRow: {
        //        rowHeight: 130,
        //        columnWidht: 150
        //    }
        //});

        //$('#image-container').isotope('reLayout');

        $(".fancybox").fancybox({
            helpers : {
                title : {
                    type : 'inside'
                }
            }
        });
    });
    </script>
{% endblock %}
