{% extends "base.html" %} 

{% block content %}
    <h2>Pictures</h2>
    <div id="image-container">
    </div>
    <br style="clear:both">

    <input type="hidden" id="static-url" value="{{STATIC_URL}}" />


{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fancybox.css" type="text/css" media="screen" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <!--script src="{{ STATIC_URL }}js/angular/pictures/directives.js"></script>
    <script src="{{ STATIC_URL }}js/angular/pictures/controllers.js"></script>
    <script src="{{ STATIC_URL }}js/angular/pictures/app.js"></script /-->
    <script>
        $(document).ready( function() {
            $.ajax({
                'url' : '/pictures/',
                'success' : function(data){
                    $("#image-container").append(data.html);
                },
                'error' : function(data){
                    alert("Server Error");
                }
            });

        $(".fancybox").fancybox();
    });
    </script>
{% endblock %}
