<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ SITE_NAME }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

{% block css %}
<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">
<link href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Domine:700' rel='stylesheet' type='text/css'>
{% endblock %}

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>
<div id="wrap">
    <div class="row" style="background-color: black;">
        <div class="front-banner container" >
            <span class="pull-right site-name"><h1><a href="/">{{ SITE_NAME }}</a> </h1></span>
        </div>
    </div>
    <div class="container content" style="height: 100%">
        <ul class="nav nav-tabs" id="main-nav">
          {% for key,item in MENU.items %}
          {% if item.display %}
          <li {% if item.active %} class='active'{% endif %}><a href="{{ item.url }}" title="{{ item.title|escape }}">{{ item.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <ul class="nav nav-tabs">
            {% for key,item in MENU.items %}
                {% if item.active and item.submenu %}
                    {% for key,sub_item in item.submenu.items %}
                        <li {% if sub_item.active %} class="active" {% endif %}><a href="{{ sub_item.url }}" title="{{ sub_item.title }}">{{ sub_item.title }}</a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
        {% block content %}
        {% endblock %}
      <hr>


    </div><!--/.container-->
    <div id="push"></div>
</div>
<div id="footer">
    <div class="container">
        <p>&copy; {{ SITE_NAME }} 2012</p>
    </div>
</div>

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/angular.min.js"></script>
{% endblock %}

</body>
</html>
