{% load thumbnail %}
<div class="row">
{% for file in page.object_list %}
    <div class="col-md-3 media-file" data-pk="{{file.pk}}" 
        {% if file.thumbnail == '' %}
        data-thumbnailurl="{{ STATIC_URL }}img/default_thumbnail.png"
        {% else %}
        data-thumbnailurl="{{ file.thumbnail.url }}"
        {% endif %}
        data-title="{{file.title}}">
        <h5>{{file.title|truncatechars:10}}</h5>
        <div style="width:100px; height:75px; overflow:hidden">
            {% if file.thumbnail == '' %}
            <img src="{{ STATIC_URL }}img/default_thumbnail.png" title="Default">
            {% else %}
            <img src="{{ file.thumbnail.url }}" title="{{file.title}}">
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% with page as pager_obj %}
    <div id="paginator">
        {% if pager_obj.paginator.num_pages > 1 %}
    <span class="pull-right">
            <strong>Page {{pager_obj.number}} of {{pager_obj.paginator.num_pages}}</strong>
        </span>
        <ul class="pagination">
            <li>
        {% if pager_obj.has_previous %}
            <a href="#" data-page-num="{{ pager_obj.previous_page_number }}" 
                class="page-number">&lsaquo;&lsaquo;</a>
        {% else %}
            <span class="disabled prev">&lsaquo;&lsaquo;</span>
        {% endif %}
            </li>
        {% for page in pager_obj.pages %}
            <li>
            {% if page %}
                {% ifequal page pager_obj.number %}
                    <span class="current page">{{ page }}</span>
                {% else %}
                    <a href="#" data-page-num="{{ page }}" class="page-number">{{ page }}</a>
                {% endifequal %}
            {% else %}
            <span>...</span>
            {% endif %}
            </li>
        {% endfor %}
            <li>
        {% if pager_obj.has_next %}
            <a href="#" data-page-num="{{pager_obj.next_page_number}}"
                class="page-number">&rsaquo;&rsaquo;</a>
        {% else %}
            <span class="disabled next">&rsaquo;&rsaquo;</span>
        {% endif %}
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endwith %}
