{% extends "base.html" %}
{% load bootstrap %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

<h2>Edit Media File</h2>
<ul class="nav nav-tabs">
    <li>
        <a href="{% url 'media.views.media_view' media_file.pk %}">
            View
        </a>
    </li>
    <li class="active">
        <a href="{% url 'media.views.media_edit' media_file.pk %}">
            Edit
        </a>
    </li>
</ul>

<form method="POST" action="{% url 'media.views.media_edit' media_file.pk %}" 
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="pull-right">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="{% url 'media.views.media_view' media_file.pk %}"
            class="btn btn-default">Cancel</a>
    </div>
    <div class="col-md-6">
    {{ form|bootstrap}}
    </div>
</form>
{% endblock %}
