h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
}
li a {
    font-family: 'Domine', serif;
}
html,body{
    height: 100%;
}
body {
    background-image: url('/static/img/grid.png');
}

a {
    color: #A10B00;
}

a:hover {
    color: #A10B00;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    color: #f5f5f5;
    background-color: black;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#nacha-controls .nacha-controls-inner{
    background-color: white;
    padding: 5px;
}

#nacha-controls .affix {
    top: 0px;
    left: 0px;
    
}

.well {
    background: white;
}

.front-banner {
    height: 75px;
    background: url('/static/img/water_cropped.jpg') no-repeat;
}

.front-banner h1 a {
    color: white;
    text-decoration: none;
}

.front-banner span.site-name {
    background-color: rgba(128,128,128,1);
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    margin-right: -25px;
}

#main-nav {
    margin-left: -10px;
    margin-top: -48px;
}

#main-nav {
    border-bottom: none;
}

#main-nav li.active a {
    background-color: rgba(128,128,128,1);
}

#main-nav li a{
    color: white;
    font-size: 1.5em;
    background-color: rgba(128,128,128,0.5);
    border-radius: 0px 10px 0px 10px;
    text-shadow: black;
}

#main-nav li a:hover {
    background-color: rgba(128,128,128,1);
}

.content {
    background-color: white;
    padding: 10px;
}


input {
    width: auto;
}

select {
    width: auto;
}

.field-left {
    float: left;
    margin: 5px;
}

.tag {
    font-weight: bold;
    display: block;
}

.tag-header {
    display: inline;
}

.clear-tags {
    margin-top: 5px;
}

.image-cropper {
    width: 118px;
    height: 80px;
    overflow: hidden;
}

.picture {
    margin: 3px;
}

.active-tag {
    color: rgba(128,128,128,1);
}

.active-tag:hover {
    color: rgba(128,128,128,1);
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

